<div class="row">
  <div class="col-sm-6 mx-auto pt-5">
    <div class="jumbotron">
      <h3 class="display-8">Welcome to</h3>
      <h1 class="display-2">EventHub</h1>
      <p class="lead">The Event Social Media Platform </p>
      <hr class="my-4">
      <p>Discover events near you and meet others who are attending</p>
    </div>
  </div>
